@charset "utf-8";

/*main*/
body{font: 14px Nanum-Gothic, "나눔고딕", sans-serif;}
#fullpage{width: 100%; height: 100%;}
#page1{background-image: url(../images/main/bg1.jpg);}
#page2{background-image: url(../images/main/bg2.jpg);}
#page3{background-image: url(../images/main/bg3.jpg);}
#page4{background-image: url(../images/main/bg4.jpg);}
.pages{width: 100%; height: 100%; background-repeat: no-repeat; background-position: center top; -ms-background-size: cover;
background-size: cover;}
#wrap{position: relative;}
#navTop>h1{position: absolute; top: 17px; left: 50px; z-index: 2;}
#navTop{position: absolute; top: 0; left: 0; height: 90px; background:rgba(255, 255, 255, 1);  width: 100%;z-index: 1;transition: .5s}
#navTop>ul#topMenu{margin-left: 200px;}
#navTop>ul#topMenu:after{content:""; display: block; clear: both;}
#navTop>ul#topMenu>li{float: left;}
#navTop>ul#topMenu>li>a{display: block; line-height: 87px; text-align: center; padding: 0 50px; color:#333; font-size: 18px;}
#navTop>ul#topMenu>li>a:hover, #navTop>ul#topMenu>li>a:focus{color:#4dbce9; font-weight: bold;}
/*#navTop>ul#topMenu>li.active{border-bottom: 3px solid #ef8321;}*/
#navTop>ul#topMenu>li.active>a{color:#4dbce9; font-weight: bold;}
/*#navTop>ul#topMenu>li.etc>a{color:#4dbce9 !important;}
#navTop>ul#topMenu>li.etc>a:hover, #navTop>ul#topMenu>li.etc>a:focus{_color:#ef8321 !important; font-weight: bold;}*/

.main_cmt{width: 400px; margin-left: 100px;}
.main_cmt p{text-shadow: 1px 1px 1px #292929; color:#fff;}
.main_cmt p:nth-child(1){font-size: 3em; margin-bottom: 5px; font-weight: bold;}
.main_cmt p:nth-child(2){font-size: 1.78em;}
.main_cmt a{display: block; text-align: center; width: 150px; border: 1px solid #fff; background: none; color: #fff;
-ms-border-radius: 10px;
border-radius: 10px; margin-top: 30px; line-height: 45px; transition: .3s; font-size: 16px;}
.main_cmt a:hover{background:rgba(255,255,255,.7);_background:rgba(239, 131, 033, .7); color:#333;}

#page1 div.onview{opacity: 0; transition:.3s;}
#page1 div.onview.mactive{opacity: 1; transform:translateX(100px);}

#page2 div.onview{opacity: 0; transition:.3s;}
#page2 div.onview.mactive{opacity: 1; transform:translateX(100px);}

#page3 div.onview{opacity: 0; transition:.3s;}
#page3 div.onview.mactive{opacity: 1; transform:translateX(100px);}

#page4 div.onview{opacity: 0; transition:.3s;}
#page4 div.onview.mactive{opacity: 1; transform:translateX(100px);}

#fp-nav{right: 40px;}
#fp-nav ul li a span{background: #fff !important;}
